body{
    background-color: rgb(36, 34, 34);
}
ul{
    list-style-type: none;
    margin-left: 900px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 40px;
    color: white;
}
li a{
    text-decoration: none;
    border: 0 10px;
    
    color: white;
    position: relative;
}
ul li .decoration::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 4px;
    width: 0;
    background: white;
    transition: 0.5s;

}
ul li a:hover::before {
    width: 100%;
}
.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
.container{
    background-color: whitesmoke;
    width: 370px;
    height: 200px;
    border-radius: 30px;
    margin-left: 610px;
    margin-top: -25px;
    padding-left: 40px;
    padding-top: 20px;


}
input{
    border: 2px solid black;
    width: 300px;
    height: 35px;
    font-size: 17px;
    border-radius: 20px;
    padding-left: 10px;
}
.reset{
    background-color: red;
    width: 100px;
    height: 30px;
    margin-left: 50px;
}
.reset:hover{
 background-color: white;
 color: black;
}
.submit{
    background-color: green;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}
.submit:hover{
    background-color: white;
    counter-reset: black;
}
p{
    color: white;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 680px;
    margin-top: 200px;
}