.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
.container{
    background-color: white;
    width: 750px;
    height: 700px;
    border-radius: 50px;
    margin-left: 520px;
    margin-top: 20px;
}
textarea{
    width: 355px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 25px;
    border-radius: 20px;
}
textarea:hover{
    transform: scale(1.1);
}
input{
    width: 355px;
    height: 50px;
    padding-left: 10px;
    font-size: 25px;
    border-radius: 20px;
}
input:hover{
    transform: scale(1.1);
}
select{
    width: 370px;
    height: 50px;
    padding-left: 10px;
    background-color: white;
    font-size: 25px;
    border-radius: 20px;
}
select:hover{
    transform: scale(1.1);
}
th{
    font-size: 25px;
    margin-left: 10px;
}
button{
    background-color: rgb(11, 155, 11);
    height: 60px;
    width: 150px;
    color: white;
    border-radius: 20px;
    font-size: 25px;
    margin-left: -200px;
    margin-top: 20px;
    font-weight: bold;  
}
button:hover {
    background-color: white;
    color: black;
}

.Reset{
    background-color: red;
    color: white;
    width: 150px;
    height: 60px;
    margin-left: 10px;
    margin-top: 17px;
    font-weight: bold;
}
.Reset:hover{
    background-color: white;
    color: black;
}
#password_Error_Message{
    margin-left: 120px;
    color: red;
    font-weight: bold;
}
footer{
    background-color: wheat;
    color: black;
    font-size: 20px;
    height: 25px;
    padding-left: 650px;
    margin-top: 15px;
}
#showPassword{
height: 20px;
margin-left: -70px;
}
#showPassword:hover{
    transform: scale(1.0);
}
.Show_Password_Text{
    margin-top: -23px;
    margin-left: 120px;
    font-size: 18px;
}