.container{
    background-color: white;
    width: 750px;
    height: 650px;
    border-radius: 50px;
    margin-left: 520px;
    margin-top: 10px;
}
input{
    width: 355px;
    height: 50px;
    padding-left: 10px;
    font-size: 25px;
    border-radius: 20px;
}
select{
    width: 355px;
    height: 50px;
    padding-left: 10px;
    background-color: white;
    font-size: 25px;
    border-radius: 20px;
}
th{
    font-size: 25px;
    margin-left: 10px;
}
button{
    height: 60px;
    width: 150px;
    color: black;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 250px;
    margin-top: -110px;
}
.earse{
    width: 120px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.earse:hover{
    background-color: red;
    color: white;
}
#pass{
    margin-left: 120px;
    color: red;
    font-weight: bold;
}
.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}