.box {
    background-color: rgb(251, 255, 255);
    width: 750px;
    height: 450px;
    border-radius: 80px;
    margin-left: 550px;
    margin-top: 125px;
}
ul{
    list-style-type: none;
    /* margin-right: 10px; */
    float: right;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 40px;
}
li a{
    text-decoration: none;
    border: 0 10px;
    
    color: black;
    position: relative;
}
ul li .decoration::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 4px;
    width: 0;
    background: black;
    transition: 0.5s;

}
ul li a:hover::before {
    width: 100%;
}

#mail{
    margin-left: 80px;
}
#createPassword{
margin-left: 10px;
}
#cofrimPassword{
margin-left: 0px;
}
input {
    width: 270px;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    padding-left: 10px;
}
input:hover{
    transform: scale(1.1);
}
label {
    font-size: 25px;
    margin-left: 100px;
}

p {
    font-size: 25px;
    margin-left: 90px;
    padding-top: 25px;
}

em {
    color: crimson;
    margin-left: 140px;
}
button {
    height: 60px;
    width: 150px;
    background-color: rgb(11, 155, 11);
    color: white;
    border-radius: 20px;
    font-size: 25px;
    margin-left: 275px;
    margin-top: -20px;
}

button:hover {
    background-color: white;
    color: black;
}

.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
footer{
    background-color: wheat;
    color: black;
    font-size: 20px;
    height: 25px;
    padding-left: 650px;
    margin-top: 170px;
}
#showPassword{
    height: 20px;
    margin-left: 240px;
}
.showpasswordText{
    margin-top: -55px;
    margin-left: 390px;
}