.box {
    background-color: rgb(251, 255, 255);
    width: 750px;
    height: 250px;
    border-radius: 80px;
    margin-left: 550px;
    margin-top: 225px;
}
ul {
    list-style-type: none;
    margin-left: 750px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
}

li {
    float: left;
    margin-left: 80px;
}

li a {
    text-decoration: none;
    color: black;
}

li :hover {
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 50px;
}


input {
    width: 250px;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    padding-left: 10px;
}

label {
    font-size: 25px;
    margin-left: 150px;
}

p {
    font-size: 25px;
    margin-left: 90px;
    padding-top: 25px;
}

em {
    color: crimson;
    margin-left: 140px;
}
button {
    height: 60px;
    width: 150px;
    color: black;
    border-radius: 20px;
    font-size: 25px;
    margin-left: 275px;
}

button:hover {
    background-color: green;
    color: white;
}

.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
footer{
    background-color: wheat;
    color: black;
    font-size: 20px;
    height: 25px;
    padding-left: 650px;
    margin-top: 273px;
}