
.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
ul{
    list-style-type: none;
    margin-left: 850px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 80px;
}
li a{
    text-decoration: none;
    color: black;
}
li :hover{
    background-color: white;
    padding:10px;
    color: black;
    border-radius: 50px;
}
img{
    border-radius: 30px;
}
.newyork{
    margin-left: 380px;
    margin-top: 100px;
}
.paris{
    margin-left: 150px;
    margin-top: 100px;
}
.singapore{
    margin-left: 150px;
    margin-top: 100px;
}
.delhi{
    margin-left: 580px;
    margin-top: 50px;
}
.agra{
    margin-left: 150px;
    margin-top: 50px;
}
.nytext{
    margin-left: 430px;
    font-size: 25px;
}
.prtext{
    margin-left: 260px;
    font-size: 25px;
}
.sintext{
    margin-left: 280px;
    font-size: 25px;
}
.deltext{
    margin-left: 650px;
    font-size: 25px;

}
.agtext{
    margin-left: 300px;
    font-size: 25px;
}
