
.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
ul{
    list-style-type: none;
    margin-left: 1000px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 40px;
}
li a{
    text-decoration: none;
    border: 0 10px;
    
    color: black;
    position: relative;
}
ul li .decoration::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 4px;
    width: 0;
    background: black;
    transition: 0.5s;

}
ul li a:hover::before {
    width: 100%;
}
img{
    border-radius: 30px;
}
.newyork{
    margin-left: 380px;
    margin-top: 50px;
}
.paris{
    margin-left: 150px;
    margin-top: 50px;
}
.singapore{
    margin-left: 150px;
    margin-top: 50px;
}
.delhi{
    margin-left: 580px;
    margin-top: 50px;
}
.agra{
    margin-left: 150px;
    margin-top: 50px;
}
.nytext{
    margin-left: 430px;
    font-size: 25px;
}
.prtext{
    margin-left: 260px;
    font-size: 25px;
}
.sintext{
    margin-left: 280px;
    font-size: 25px;
}
.deltext{
    margin-left: 650px;
    font-size: 25px;

}
.agtext{
    margin-left: 300px;
    font-size: 25px;
}
footer{
    background-color: wheat;
    color: black;
    font-size: 20px;
    height: 25px;
    padding-left: 650px;
    margin-top: 30px;
}
