

.i1 {
  padding-left: 1750px;

}
.i1 a{
  color: black;

}
.i2 a{
  text-decoration: none;
  color: black;
}
.i2 {
  padding-left: 1755px;
}
h2{
  font-style: italic;
}
h3{
  font-style: oblique;
}.newyork{
    margin-left: 100px;
}
.paris{
    margin-left: 100px;
}
.singapore{
    margin-left: 100px;
}
.delhi{
    margin-left: 100px;
}
.agra{
    margin-left: 100px;
}
.varanasi{
    margin-left: 100px;
}
.ooty{
    margin-left: 100px;
}
.darjeeling{
    margin-left: 100px;
}
.araku{
    margin-left: 100px;
}
/* text  */
.nytext{
    margin-left: 150px;
}
.prtext{
    margin-left: 250px;
}
.sintext{
    margin-left: 250px;
}
.deltext{
    margin-left: 250px;
}
.agtext{
    margin-left: 250px;
}
.vartext{
    margin-left: 100px;
}
.ottext{
    margin-left: 170px;
}
.dartext{
    margin-left: 250px;
}
.aktext{
    margin-left: 250px;
}
img{
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 30px;
}
img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position:relative;
    transition: 0.25s;
}
.logo{
    width: 500px;
    height: 150px;
    margin-left: 650px;
}
ul{
    list-style-type: none;
    margin-left: 850px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 80px;
}
li a{
    text-decoration: none;
    color: black;
}
li :hover{
    background-color: white;
    padding:10px;
    color: black;
    border-radius: 50px;
}
.holidaytrip{
    margin-left: 100px;
   
}