
.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
ul{
    list-style-type: none;
    margin-left: 1000px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 40px;
}
li a{
    text-decoration: none;
    border: 0 10px;
    
    color: black;
    position: relative;
}
ul li .decoration::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 4px;
    width: 0;
    background: black;
    transition: 0.5s;

}
ul li a:hover::before {
    width: 100%;
}
.admin{
    font-size: 25px;
    margin-left: 1500px;
    margin-top: -100px;
    margin-bottom: 100px;
}
.profile{
    width: 30px;
    height: 30px;
}
.info{
    font-size: 45px;
    margin-left: 650px;
    margin-top: 180px;
}

input{
    width: 400px;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    outline: none;  
    border:none;
    border-bottom: 2px solid black;
    margin-left: 100px;
    margin-top: 100px;
    
}
input:hover{
    background-color: white ;
    border-radius: 20px;
    padding-left: 10px;
}
.submit{
    border-color: black;
    border: 2px solid black;
    outline: black;
    border-radius: 20px;
}
.submit:hover{
    background-color: green;
    color: white;
}
.reset{
    border-color: black;
    border: 2px solid black;
    border-radius: 20px;
}
.reset:hover{
    background-color: red;
    color: white;
}