.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
ul{
    list-style-type: none;
    margin-left: 1000px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 40px;
}
li a{
    text-decoration: none;
    border: 0 10px;
    
    color: black;
    position: relative;
}
ul li .decoration::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 4px;
    width: 0;
    background: black;
    transition: 0.5s;

}
ul li a:hover::before {
    width: 100%;
}


.tripInfo{
    width: 500px;
    height: 260px;
    font-size: 35px;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 50px;
    border: 2px solid black; 
    margin-left: 50px;
    overflow: scroll;
}
.tripInfo::-webkit-scrollbar{
    display: none;
}
#tripList{
    display: inline-flex;
    flex-wrap: wrap;
}
.link{
 color: black;
 text-decoration: none;
}
.tripInfo:hover{
    background-color: rgb(231, 235, 17);
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position:relative;
    transition: 0.10s;
}
   
.tripInfo p {
    padding-left: 30px;
}
