body{
    background-color: skyblue;
}
ul {
    list-style-type: none;
    margin-left: 750px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

li {
    float: left;
    margin-left: 80px;
}

li a {
    text-decoration: none;
    color: black;
}

li :hover {
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 50px;
}
.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
.info{
    font-size: 45px;
    margin-left: 750px;
    margin-top: 80px;
}
input{
    width: 400px;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
      
    border: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 700px;
    margin-top: 100px;
    
}
textarea{
    background-color: white ;
    width: 1500px;
    height: 80px;
    font-family: inherit;
    margin-left: 100px;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 20px;
}
.submit{
    border-color: black;
    border: 2px solid black;
    outline: black;
    border-radius: 20px;
    margin-left: 20px;
}
.submit:hover{
    background-color: green;
    color: white;
}
.reset{
    border-color: black;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 500px;
}
.reset:hover{
    background-color: red;
    color: white;
}