body{
    background-color: rgb(19, 170, 150);
}
ul{
    list-style-type: none;
    margin-left: 1000px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
li{
    float: left;
    margin-left: 40px;
}
li a{
    text-decoration: none;
    border: 0 10px;
    
    color: black;
    position: relative;
}
ul li .decoration::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 4px;
    width: 0;
    background: black;
    transition: 0.5s;

}
ul li a:hover::before {
    width: 100%;
}
.logo {
    width: 500px;
    height: 150px;
    margin-left: 650px;
    border-radius: 30px;
}
.Title{
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
}
.container{
    width: 500px;
    height: 400px;
    background-color: rgb(246, 242, 242);
    border-radius: 20px;
    margin-left: 650px;
}
input{
    width: 400px;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    border-bottom: 2px solid black;
    margin-left: 40px;
    margin-top: 30px;
    
}
textarea{
    background-color: transparent ;
    width: 400px;
    height: 50px;
    font-family: inherit;
    margin-left: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 25px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
textarea::-webkit-scrollbar{
    display: none;
}
.submit{
    background-color: green;
    color: white;
    width: 150px;
    border-color: black;
    border: 2px solid black;
    outline: black;
    border-radius: 20px;
    margin-left: 20px;
}
.submit:hover{
    background-color: white;
    color: black;
}
.reset{
    background-color: red;
    color: white;
    width: 150px;
    border-color: black;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 85px;
}
.reset:hover{
    background-color: white;
    color: black;
}
